<table class="table table-striped table-hover">
  <thead>
      <tr class="info">
          <th>
              Id
          </th>
          <th>
              Name
          </th>
          <th>
              URL
          </th>
          <th>
              Imported?
          </th>
          <th>
          </th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>
              item.ProjectGitId
          </td>
          <td>
              item.Name
          </td>
          <td>
              item.Web_URL
          </td>
          <td>
              item.IsImported
          </td>
          <td>
              Edit | Details |  Delete
          </td>
      </tr>
  </tbody>
</table>