<div class="col-md-6">
    <h2 class="text-center">Edit Project</h2>
    
    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <label for="ProjectGitId">Project Git Id:</label>
        <input type="number" placeholder="Project Git Id" [(ngModel)]="project.ProjectGitId" #iptProjectGitId="ngModel" required maxlength="9" name="ProjectGitId" class="form-control" id="ProjectGitId">
        <span class="danger" *ngIf="!iptProjectGitId.valid && (iptProjectGitId?.dirty || iptProjectGitId?.touched)"><i class="fa fa-remove"></i> Campo inválido</span>
      </div>
  
      <div class="form-group">
        <label for="Name">Name:</label>
        <input placeholder="Name" name="Name" [(ngModel)]="project.Name" #iptName="ngModel" required maxlength="1000" class="form-control" id="Name">
        <span class="danger" *ngIf="!iptName.valid && (iptName?.dirty || iptName?.touched)"><i class="fa fa-remove"></i> Campo inválido</span>
      </div>
  
      <div class="form-group">
        <label for="Description">Description:</label>
        <input placeholder="Description" [(ngModel)]="project.Description" #iptDescription="ngModel" maxlength="1000" name="Description" class="form-control" id="Description">
        <span class="danger" *ngIf="!iptDescription.valid && (iptDescription?.dirty || iptDescription?.touched)"><i class="fa fa-remove"></i> Campo inválido</span>
      </div>
  
      <div class="form-group">
        <label for="Web_URL">URL:</label>
        <input type="url" placeholder="URL" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" name="Web_URL" [(ngModel)]="project.Web_URL"  #iptURL="ngModel" maxlength="1000" required class="form-control" id="Web_URL">
        <span class="danger" *ngIf="!iptURL.valid && (iptURL?.dirty || iptURL?.touched)"><i class="fa fa-remove"></i> Campo inválido</span>
      </div>

      <a class="btn btn-default" [routerLink]="['/projects']">Back to List</a>
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">Update</button>
    </form>
  </div>