<div class="col-md-6">
    <h2 class="text-center">Edit Project</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      
      <input type="hidden" formControlName="Id" id="Id" name="Id">
      <input type="hidden" formControlName="IsImported" id="IsImported" name="IsImported">
      <input type="hidden" formControlName="Open_Issues_Count" id="Open_Issues_Count" name="Open_Issues_Count">

      <div class="form-group">
        <label for="ProjectGitId">Project Git Id:</label>
        <input formControlName="ProjectGitId" placeholder="Project Git Id" name="ProjectGitId" class="form-control" id="ProjectGitId">
      </div>
  
      <div class="form-group">
        <label for="Name">Name:</label>
        <input formControlName="Name" placeholder="Name" name="Name" class="form-control" id="Name">
      </div>
  
      <div class="form-group">
        <label for="Description">Description:</label>
        <input formControlName="Description" placeholder="Description" name="Description" class="form-control" id="Description">
      </div>
  
      <div class="form-group">
        <label for="Web_URL">URL:</label>
        <input formControlName="Web_URL" placeholder="URL" name="Web_URL" class="form-control" id="Web_URL">
      </div>

      <button class="btn btn-success">Update</button>
    </form>
  </div>